<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="false">
    <test name="Test1" preserve-order="true">
        <classes>
            <class name="TestDemo">
                <methods>
                    <include name="SearchBaidu"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test2" preserve-order="true">
        <classes>
            <class name="TestDemo">
                <methods>
                    <include name="SearchBaidu"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>